@model FrameWorksExamen.Models.Event
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Event details";
}

<h1>@Localizer["Det"]</h1>

<div>
    <h4>@Localizer["Event"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Localizer["Name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Description"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Location"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Date"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
      
       
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"> @Localizer["Edit"]</a> |
    <a asp-action="Index"> @Localizer["Back"]</a>
</div>
