@model FrameWorksExamen.Models.Person
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Delete person";
}

<h1>@Localizer["Del"]</h1>

<h3>@Localizer["Sure"]</h3>
<div>
    <h4>@Localizer["Person"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Localizer["Name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Events"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events)
        </dd>
      
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=@Localizer["Delete"] class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Back"]</a>
    </form>
</div>
