@page
@model RegisterModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Register";
}

<h1>@Localizer["Register"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>@Localizer["Create"]</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder=@Localizer["FakeMail"] />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder=@Localizer["Username"] />
                <label asp-for="Input.Username">@Localizer["Username"]</label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder=@Localizer["FirstName"] />
                <label asp-for="Input.FirstName">@Localizer["FirstName"]</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder=@Localizer["LastName"] />
                <label asp-for="Input.LastName">@Localizer["LastName"]</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder=@Localizer["Password"] />
                <label asp-for="Input.Password">@Localizer["Password"]</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder=@Localizer["Password"] />
                <label asp-for="Input.ConfirmPassword">@Localizer["ConfirmPassword"]</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["Register"]</button>
        </form>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
