@model FrameWorksExamen.Models.Invite
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Delete invite";
}

<h1>@Localizer["Del"]</h1>

<h3>@Localizer["Sure"]</h3>
<div>
    <h4>@Localizer["Invite"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Localizer["Person"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.Name)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Event"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Sender"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sender.FirstName)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=@Localizer["Delete"] class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Back"]</a>
    </form>
</div>
