
@model FrameWorksExamen.Models.InviteIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <form asp-controller="Invites" asp-action="Index" method="get">
        Event: <select asp-for="SelectedEvent" asp-items="Model.EventsToSelect">
        <option value="0">Allemaal</option>
        </select>
        &nbsp;
        Person: <select asp-for="SelectedPerson" asp-items="Model.PeopleToSelect">
            <option value="0">Allemaal</option>
        </select>
        &nbsp;
        <input type="submit" value="Filter" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilteredInvites[0].Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilteredInvites[0].Event)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FilteredInvites) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
